@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;

  /*trying to change the body*/
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

/*First I am gonna modify what seems the easiest: 
Put every container that needs to be flexed into flex position*/
/*Secondly, i want the whole screen to be filled and not
just be filled halfway*/
/*first we set up the header and it's children*/
.header {
  display: flex;
  justify-content: space-between;
}

.left-links, .right-links {
  display: flex;
  list-style-type: none;
  gap: 12px;
}

.header .right-links {
  margin-right: 40px;
}

.left-links li a, .right-links li a {
  text-decoration: none;
  color: rgb(129, 129, 129);
}


.footer {
  background-color: #dddddd;
  flex-shrink: 0;
}

.content {
  flex: 1;
}




